<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="#" />
    <link href="../static/doing/login/login.css" th:href="@{/doing/login/login.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号登录</title>
</head>

<body>
<div id="bg">
    <div id="login_wrap">
        <div id="login"><!-- 登录注册切换动画 -->
            <div id="status">
                <i style="top: 0">Log</i>
                <i style="top: 35px">Sign</i>
                <i style="right: 5px">in</i>
            </div>
            <span>
                    <form action="post">
                        <p class="form"><input type="text" id="user" placeholder="邮箱" value="doing"></p>
                        <p class="form"><input type="password" id="passwd" placeholder="密码" value="doing"></p>
                        <p class="form confirm"><input type="password" id="confirm-passwd" placeholder="校验密码"></p>
                        <!--<p class="form" th:if="${captchaEnabled==true}>
                        	<input type="text" id="validate" placeholder="验证码" style="width: 150px;" >
                       		<img src="get-code.html" id="validateimg" class="validateimg" style="width: 150px;margin-bottom: -10px;"/>
                        </p>-->
                        <input type="button" value="Log in" class="btn" onclick="login()" style="margin-right: 20px;">
                        <input type="button" value="Sign in" class="btn" onclick='signin()' id="btn">
                    </form>
                <!--                     <a href="#">忘记密码?</a> -->
                </span>
        </div>

        <div id="login_img"><!-- 图片绘制框 -->
            <span class="circle">
                    <span></span>
                    <span></span>
                </span>
            <span class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            <span class="fly_star">
                    <span></span>
                    <span></span>
                </span>
            <p id="title">CLOUD</p>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="../static/encrypt/RSA.js" th:src="@{/encryption/RSA.js}"></script>
<script src="../static/encrypt/Barrett.js" th:src="@{/encryption/Barrett.js}"></script>
<script src="../static/encrypt/BigInt.js" th:src="@{/encryption/BigInt.js}"></script>
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/doing/common/layui/layui.js" th:src="@{/doing/common/layui/layui.js}"></script>
<script src="../static/doing/login/login.js" th:src="@{/doing/login/login.js}"></script>

</html>
